.banner{

    background-image: url(../images/banner.png), linear-gradient(180deg, rgba(0, 0, 0, 2) , rgba(49, 168, 221, 0.6)  50%, rgba(0, 0, 0, 2));
    position: relative;
    width: 100%;
    height: 732px;
    left: 0px;
    top: -127px;
    object-fit: cover;
    
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 510px;
    height: 393px;
    left: 465px;
    top: 20%;
    color: #ffff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
}

.banner-content img{
    width: 248px;
    height: 214px;
    left: 131px;
    top: 27px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.banner-content h1{
    width: 520px;
    height: 47px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    /* identical to box height */


    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

   
}

.banner-content button{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 91px;
    gap: 31px;

    
    width: 326px;
    height: 57px;
    left: calc(50% - 326px/2);
    top: calc(50% - 57px/2 + 199px);

    width: 234px;
    height: 30px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.21em;

    color: rgb(49, 168, 221);
    border-color: rgb(49, 168, 221);
    background-color: transparent;


    
}

body{
    color: #fff;
    background-color: black;
    
}

#course-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 792px;
    height: 325px;
    left: 324px;
    top: 723px;
    
}

#transform-world{
    margin-top: 20%;
}

#course-content h2 {
    text-align: center;
    text-transform: uppercase;
    width: 800px;
    height: 5px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    letter-spacing: 0.19em;

    color: #33A8DB;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#course-content p{
    width: 792px;
    height: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.modules-list .module span {
    height: 19px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #33A8DB;

    flex: none;
    order: 0;
    flex-grow: 0;
}


.module{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 127px;
    gap: 10px;

    width: 535px;
    height: 51px;

    background: #252525;
    border: 1px solid #33A8DB;
    box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
    border-radius: 57px;

    flex: none;
    order: 2;
    flex-grow: 0;

    margin-top: 2%;
}

#woman-code{
    margin-top: 360px;
    width: 100%;
    height: 450px;
    background-image: url(../images/woman-code.png);
    background-size: cover;
    border: 1px solid #33A8DB;
    background-attachment: fixed ;

}

#transform-world p{
    
    width: 244px;
    height: 141px;
    margin-top: 110px;
    margin-left: 200px;
    top: 0px;
    text-transform: lowercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;

    color: #FFFFFF;

    text-shadow: 3px 2px 0px #33A8DB;
}

#professional-challenges h2{
    width: 746px;
    height: 76px;
    margin-left: 25%;
    top: 1577px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.19em;

    color: #33A8DB;
}

#professional-challenges img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    
}

#professional-challenges p{
    margin-right: auto;
    margin-left: auto;
    width: 792px;
    height: 76px;
    left: 324px;
    top: 2154px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}

footer{
    padding-top: 2% ;
    width: 100%;
    height: 100px;

    background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%);
    border-top: 1px solid #33A8DB;
   
}

footer img{
    margin-right: auto;
    margin-left: 40%;
    
}

footer p {
    width: 259px;
    height: 19px;
    margin-left: 43%;
    top: 113px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.module:hover{
    background-color: rgb(0, 0, 255,0.8);
}

.banner-content button:hover{
    background-color: rgba(16, 16, 236, 0.8);
}